.product_main {
  display: flex;
  padding: 0 38px 0 20px;
  background-color: #fff;
  margin-bottom: 40px;
  padding-top: 30px;
  .left_section {
    width: 280px;
    padding: 0;
    position: sticky;
    left: 0;
    top: 100px;
    display: block;
    padding-right: 30px;
    box-sizing: border-box;
    max-height: 85vh;

    .my-10 {
      margin-top: 0;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: #d4d4d4;
    }

    .categories_loader {
      padding-left: 20px;
      .loader_circluar {
        display: flex;
        align-items: center;
        grid-gap: 25px;
        margin-bottom: 20px;
        .circluar {
          border-radius: 100px;
          width: 50px !important;
          height: 50px !important;
          margin: 0;
        }
        .text_line {
          width: 70%;
          margin: 0;
          .shimmer-text-line {
            height: 15px !important;
          }
        }
      }
    }
    .ShopByCategories {
      .container {
        padding: 0 !important;
        ul {
          display: flex;

          flex-direction: column;
          text-align: center;
          grid-gap: 10px;
          li {
            a {
              display: flex;
              align-items: center;
              grid-gap: 10px;
              padding: 10px;
              position: relative;
              transition: 0.3s;
              &.active,
              &:hover {
                background: #eff1ff;
                border-radius: 15px;

                &:after {
                  content: "";
                  background-image: url("../../assets//images//ProductList/right_cat_arrow.svg");
                  width: 15px;
                  height: 9px;
                  display: inline-block;
                  background-repeat: no-repeat;
                  background-size: contain;
                  position: absolute;
                  right: 15px;
                }
              }
              .product_img {
                width: 60px;
                margin: 0;
              }
              h3 {
                margin: 0;
                font-size: 13px;
                margin-left: 10px;
                font-family: "Satoshi-Medium";
                color: #3e3e3e;
                line-height: 17px;
                font-weight: normal;
              }
            }
          }
        }
      }
    }
  }
  .right_section {
    width: calc(100% - 280px);
    padding-left: 15px;
    .toolbar {
      .toolbar-amount {
        position: static;
        border: 1px solid #f6f6f6;
        padding: 13px 20px;
        border-radius: 13px;
        background: #f6f6f6;
        font-family: "Satoshi-Medium";
        display: flex;
        font-size: 13px;
      }
    }
    .loading_spinner {
      border: 0.5px solid #e3e3e3;
      padding: 0;
      .shimmer-card {
        box-shadow: none;
        padding: 0;
        .grid {
          grid-gap: 0;
          > div {
            border: 0.5px solid #e3e3e3;
            padding: 20px;
          }
        }
      }
    }
    .category_banner {
      img {
        width: 100%;
      }
    }
    .toolbar {
      display: flex;
      justify-content: space-between;
      margin: 20px 0;
    }
    .product_card_main {
      display: flex;
      flex-wrap: wrap;
      border: 0.5px solid #e3e3e3;
    }
  }
}
