.product_main {
  display: flex;
  .left_section {
    width: 200px;
    .ShopByCategories {
      .container {
        ul {
          li {
            text-align: center;
          }
        }
      }
    }
  }
  .right_section {
    width: calc(100% - 200px);
    .product_card_main{
        display: flex;
        flex-wrap: wrap;
    }
  }
}
